revisit-logistic-softmax/filelists/CUB/CUB_200_2011
revisit-logistic-softmax/filelists/CUB/CUB_200_2011.tgz
revisit-logistic-softmax/filelists/CUB/base.json
revisit-logistic-softmax/filelists/CUB/novel.json
revisit-logistic-softmax/filelists/CUB/val.json
revisit-logistic-softmax/filelists/miniImagenet/miniImagenet
revisit-logistic-softmax/filelists/miniImagenet/archive.zip
revisit-logistic-softmax/filelists/miniImagenet/base.json
revisit-logistic-softmax/filelists/miniImagenet/novel.json
revisit-logistic-softmax/filelists/miniImagenet/val.json
revisit-logistic-softmax/filelists/omniglots/images     
revisit-logistic-softmax/filelists/omniglots/base.json
revisit-logistic-softmax/filelists/omniglots/novel.json
revisit-logistic-softmax/filelists/omniglots/val.json
revisit-logistic-softmax/filelists/omniglots/noLatin.json  
revisit-logistic-softmax/save/checkpoints
deep-kernel-transfer/filelists/QMUL/images
deep-kernel-transfer/filelists/QMUL/QMUL_360degreeViewSphere_FaceDatabase
deep-kernel-transfer/save/checkpoints
