revisit-logistic-softmax/filelists/CUB
revisit-logistic-softmax/filelists/miniImagenet/miniImagenet
revisit-logistic-softmax/filelists/miniImagenet/archive.zip
revisit-logistic-softmax/filelists/miniImagenet/base.json
revisit-logistic-softmax/filelists/miniImagenet/novel.json
revisit-logistic-softmax/filelists/miniImagenet/val.json
revisit-logistic-softmax/filelists/omniglots/images     
revisit-logistic-softmax/filelists/omniglots/base.json
revisit-logistic-softmax/filelists/omniglots/novel.json
revisit-logistic-softmax/filelists/omniglots/val.json
revisit-logistic-softmax/filelists/omniglots/noLatin.json  
revisit-logistic-softmax/save/checkpoints
revisit-logistic-softmax/save/saved_checkpoints
deep-kernel-transfer/filelists/QMUL/images
deep-kernel-transfer/filelists/QMUL/QMUL_360degreeViewSphere_FaceDatabase
deep-kernel-transfer/save/checkpoints
deep-kernel-transfer/filelists/argus_data/meta_data_argus_sim.json
deep-kernel-transfer/filelists/berkeley_data.mat
